language: php

php:
  - 7.1

services:
  - memcached

before_script:
  # - pyrus install pear/PHP_CodeSniffer
  # - phpenv rehash
  - composer self-update
  - composer install

script:
  - phpunit
  - vendor/bin/phpcs --standard=PSR2 --ignore=vendor/ .
